<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.guringnae.guildspec.SpecMapper">
 	<resultMap type="com.guringnae.guildspec.SpecDTO" id="spec">
		<result property="nickname" column="nickname" />
		<result property="level" column="level" />
		<result property="spec" column="spec" />
		<result property="job" column="job" />
		<result property="floor" column="floor" />
		<result property="time" column="time" />
		<result property="guild_code" column="guild_code" />
		<result property="import_time" column="import_time" />
	</resultMap>
	
	<resultMap type="com.guringnae.guildspec.GuildDTO" id="guild">
		<result property="guild_code" column="guild_code" />
		<result property="guild_name" column="guild_name" />
		<result property="server" column="server" />
		<result property="serverNm" column="serverNm" />
	</resultMap>
	
	<resultMap type="com.guringnae.guildspec.SuroDTO" id="suro">
		<result property="nickname" column="nickname" />
		<result property="guild_code" column="guild_code" />
		<result property="suro" column="suro" />
		<result property="job" column="job" />
	</resultMap>
	
	<resultMap type="com.guringnae.guildspec.JobDTO" id="supcho">
		<result property="job" column="job" />
	</resultMap>
	
	<resultMap type="com.guringnae.guildspec.SupDTO" id="sup">
		<result property="job" column="job" />
		<result property="guild_code" column="guild_code" />
	</resultMap>
	
	<select id="guildSelect" resultMap="guild">
	<![CDATA[
	SELECT
	A.GUILD_CODE,
	A.GUILD_NAME,
	A.SERVER,
	B.SERVER_NAME AS serverNm
	FROM GUILD A LEFT JOIN SERVER B ON A.SERVER = B.SERVER_CODE	
	]]>
	</select>
	
	
	<select id="getGuildCode" resultType="String">
	<![CDATA[
	SELECT
	guild_code
	FROM GUILD
	WHERE 
	GUILD_NAME = #{guild_name}
	AND SERVER = #{server}
	]]>
	</select>
	
	<select id="lastUdt" resultType="String">
    <![CDATA[
        SELECT 
		import_time
		FROM SPEC
		WHERE
		GUILD_CODE = #{guild_code}
		ORDER BY import_time DESC LIMIT 1
    ]]>
    </select>
	
	<insert id="attIns">
	<![CDATA[
	INSERT INTO ATTEND
	(
	NICKNAME
	)VALUES(
	#{nickname}
	)
	]]>
	</insert>
	
	<delete id="attDel">
	<![CDATA[
	DELETE 
	FROM ATTEND
	WHERE
	NICKNAME = #{nickname}
	]]>
	</delete>
	
	<select id="allList" resultMap="spec" >
    <![CDATA[
    SELECT
    A.nickname,
    A.level,
    A.spec,
    A.job,
    A.floor,
    A.time
    FROM SPEC A 
    WHERE
     A.GUILD_CODE = #{guild_code}
     AND NICKNAME NOT IN (SELECT NICKNAME FROM ATTEND)
    ORDER BY floor desc, time asc, level desc
    ]]>
    </select>
    
    <select id="allLists" resultMap="spec" >
    <![CDATA[
    SELECT
    A.nickname,
    A.level,
    A.spec,
    A.job,
    A.floor,
    A.time
    FROM SPEC A INNER JOIN ATTEND B ON A.NICKNAME = B.NICKNAME
    WHERE
     A.GUILD_CODE = #{guild_code}
    ORDER BY floor desc, time asc, level desc
    ]]>
    </select>
    
    <select id="attackList" resultMap="spec"  parameterType="java.util.Map">
    <![CDATA[
    SELECT
    A.nickname,
    A.level,
    A.spec,
    A.job,
    A.floor,
    A.time,
    A.guild_code
    FROM SPEC A 
    WHERE
    	1 = 1
    ]]>
    <if test="listsize != 0">
    <![CDATA[AND A.job not in]]>
    	<foreach collection="code_list" item="item" index="index" separator="," open="(" close=")">
 			'${item}'
        </foreach>
   	</if>
    <![CDATA[
    AND A.GUILD_CODE = #{guild_code}
    AND A.NICKNAME NOT IN (SELECT NICKNAME FROM SURO WHERE GUILD_CODE = #{guild_code})
    ORDER BY floor desc, time asc, level desc
    ]]>
    </select>
    
    <select id="supList" resultMap="spec" parameterType="java.util.Map">
    <![CDATA[
    SELECT
    A.nickname,
    A.level,
    A.spec,
    A.job,
    A.floor,
    A.time,
    A.guild_code
    FROM SPEC A 
    WHERE
    1 = 1
    	]]>
    	<if test="listsize != 0">
    	<![CDATA[AND	A.job in]]>
    	<foreach collection="code_list" item="item" index="index" separator="," open="(" close=")">
 		 '${item}'
        </foreach>
        </if>
        <if test="listsize == 0">
    	<![CDATA[AND	A.job in ('없다')]]>
        </if>
    <![CDATA[
    AND A.GUILD_CODE = #{guild_code}
    AND A.NICKNAME NOT IN (SELECT NICKNAME FROM SURO WHERE GUILD_CODE = #{guild_code})
    ORDER BY floor desc, time asc, level desc
    ]]>
    </select>
    
    <delete id="specDelete">
    <![CDATA[ 
    DELETE FROM SPEC
    WHERE
    guild_code = #{guild_code}
    ]]>
    </delete>
    
    <insert id="specInsert">
    <![CDATA[
    INSERT INTO SPEC
    (
    nickname,
    level,
    spec,
    job,
    floor,
    time,
    import_time,
    guild_code
    )VALUES(
    #{nickname},
    #{level},
    #{spec},
    #{job},
    #{floor},
    #{time},
    now(),
    #{guild_code}
    )
    ]]>
    </insert>
    
    <insert id="suroInsert">
    <![CDATA[
    INSERT INTO SURO
    (
    NICKNAME,
    GUILD_CODE,
    SURO
    )VALUES(
    #{nickname},
    #{guild_code},
    #{suro}
    )
    ]]>
    </insert>
        
    <select id="suroSelect" resultMap="suro">
    <![CDATA[
    SELECT
    A.NICKNAME,
    A.GUILD_CODE,
    A.SURO,
    B.JOB
    FROM SURO A LEFT JOIN SPEC B ON A.NICKNAME = B.NICKNAME
    WHERE
    A.GUILD_CODE = #{guild_code}
    AND A.SURO = #{suro}
    ]]>
    </select>
    
    <delete id="suroDelete">
    <![CDATA[
    DELETE FROM SURO
    WHERE
    NICKNAME = #{nickname}
    ]]>
    </delete>
    
    <select id="supcho" resultMap="supcho">
    <![CDATA[
    SELECT
    JOB
    FROM JOB
    WHERE
    JOB NOT IN (SELECT JOB FROM SUP WHERE GUILD_CODE = #{guild_code})
    ]]>
    </select>
    
    <insert id="supchoins">
    <![CDATA[
    INSERT INTO SUP
    (
    JOB,
    GUILD_CODE
    )VALUES(
    #{job},
    #{guild_code}
    )
    ]]>
    </insert>
    
    <select id="guildsup" resultMap="sup">
    <![CDATA[
    SELECT
    JOB,
    GUILD_CODE
    FROM SUP
    WHERE
    GUILD_CODE = #{guild_code}
    ]]>
    </select>
    
    <delete id="supchodel">
    <![CDATA[
    DELETE FROM SUP
    WHERE
    GUILD_CODE = #{guild_code}
    AND JOB = #{job}
    ]]>
    </delete>
    
    <select id="attackList_all" resultMap="spec"  parameterType="java.util.Map">
    <![CDATA[
    SELECT
    A.nickname,
    A.level,
    A.spec,
    A.job,
    A.floor,
    A.time,
    A.guild_code
    FROM SPEC A 
    WHERE
    	1 = 1
    ]]>
    <if test="listsize != 0">
    <![CDATA[AND A.job not in]]>
    	<foreach collection="code_list" item="item" index="index" separator="," open="(" close=")">
 			'${item}'
        </foreach>
   	</if>
    <![CDATA[
    AND A.GUILD_CODE = #{guild_code}
    ORDER BY floor desc, time asc, level desc
    ]]>
    </select>
    
    <select id="supList_all" resultMap="spec" parameterType="java.util.Map">
    <![CDATA[
    SELECT
    A.nickname,
    A.level,
    A.spec,
    A.job,
    A.floor,
    A.time,
    A.guild_code
    FROM SPEC A 
    WHERE
    1 = 1
    	]]>
    	<if test="listsize != 0">
    	<![CDATA[AND	A.job in]]>
    	<foreach collection="code_list" item="item" index="index" separator="," open="(" close=")">
 		 '${item}'
        </foreach>
        </if>
        <if test="listsize == 0">
    	<![CDATA[AND	A.job in ('없다')]]>
        </if>
    <![CDATA[
    AND A.GUILD_CODE = #{guild_code}
    ORDER BY floor desc, time asc, level desc
    ]]>
    </select>
    
</mapper>
